.card1 {
    background-image: url('ruta/a/la/imagen.jpg');
    background-size: cover;
    background-position: center;
    height: 220px; /* Ajusta la altura según tus necesidades */
    width: 190px;
    background-color: transparent; /* Agrega esta línea */
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 10px; /* Agrega esta línea */
    padding: 20px;
    box-sizing: border-box;
    
  }
  
.card-body1 {
    background-color: rgba(58, 146, 31, 0.20); /* Ajusta la opacidad según tus necesidades */
    padding: 1rem;
    border-radius: 10px; 
  }