.custom-button {
	color: #000000;
	background-color: #ffffff;
	border-color: #1e28199f
}

.custom-button:hover {
	color: #000000;
	background-color: #ffffff;
	border-color: #132312b0
	
}

.custom-button.focus,
.custom-button:focus {
	box-shadow: 0 0 0 .2rem rgba(9, 18, 9, 0.5)
}

.custom-button1.disabled,
.custom-button1:disabled {
	color: #000000;
	background-color: #ffffff;
	border-color: #182114
}

.custom-button1:not(:disabled):not(.disabled).active,
.custom-button1:not(:disabled):not(.disabled):active,
.show>.custom-button.dropdown-toggle {
	color: #000000;
	background-color: #ffffff;
	border-color: #000000
}

.custom-button1:not(:disabled):not(.disabled).active:focus,
.custom-button1:not(:disabled):not(.disabled):active:focus,
.show>.custom-button.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.5)
}
