/* Estilos generales */
.elemento {
    width: 100%;
    height: 200px;
    background-color: #f1f1f1;
  }
  
  /* Estilos para pantallas extra small (xs) */
  @media (max-width: 575.98px) {
    .elemento {
      width: 100%;
      height: 150px;
    }
  }
  
  /* Estilos para pantallas small (sm) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .elemento {
      width: 50%;
      height: 200px;
    }
  }
  
  /* Estilos para pantallas medium (md) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .elemento {
      width: 33.33%;
      height: 250px;
    }
  }
  
  /* Estilos para pantallas large (lg) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .elemento {
      width: 25%;
      height: 300px;
    }
  }
  
  /* Estilos para pantallas extra large (xl) */
  @media (min-width: 1200px) {
    .elemento {
      width: 20%;
      height: 350px;
    }
  }
  .card-img-personal {
    width: 100%;
    gap: 3rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    max-height: 100px; /* Ajusta este valor según tus necesidades */
  }
  .card-img-personal-2 {
    width: 100%;
    gap: 3rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    max-height: 100px; /* Ajusta este valor según tus necesidades */
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Ajusta el valor según la separación deseada */
  }