/* margen */
.div1 {
    margin-bottom: 30px; /* Espacio entre los divs */
  }
.div2 {
    margin-bottom: 60px; /* Espacio entre los divs */
}

.div3 {
    margin-bottom: 90px; /* Espacio entre los divs */
}