
/* Cuando el sidebar está contraído */
.sidebar-collapsed .sidebar-text {
    opacity: 0;
    visibility: hidden;
    width: 0;
    margin: 0;
    padding: 0;
}

/* Cuando el sidebar está expandido */
.sidebar-expanded .sidebar-text {
    opacity: 1;
    visibility: visible;
}